:root {
  --main-bg-color: #111;
  --content-bg-color: #222;
  --text-color: #fff;
  --header-height: 80px;
  --nav-height: 60px;
  --max-width: 1400px;
  --horizontal-padding: 40px;
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--main-bg-color);
  color: var(--text-color);
  font-family: 'Helvetica Neue', sans-serif;
  overflow: scroll;
}

#root {
  min-height: 100vh;
}

.layout-wrapper {
  width: 100%;
  min-height: 100vh;
}

.layout-content {
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 40px var(--horizontal-padding);
}

