html, body {
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  height: auto;
}

.layout-wrapper {
  /*max-width: 1200px;*/
  margin: 0 auto;      /* 가운데 정렬 */
  box-sizing: border-box;
  min-height: 100vh;
}

.layout-content-wrapper{
  padding: 2rem;
}

.layout-content{
  padding: 2rem;
  background: #171a21;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
