html, body {
  height: auto;
  min-height: 100vh;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100vh;
  height: auto;
}

.layout-wrapper {
  /*max-width: 1200px;*/
  padding: 0 2rem;     /* 좌우 패딩 */
  margin: 0 auto;      /* 가운데 정렬 */
  box-sizing: border-box;
  min-height: 100vh;
}
